

body {
	background:url(../images/fon.jpg);
	background-size:cover;
    background-attachment: fixed;
    font-family: 'Georgia Regular';
}

.wrapper { 
	width:1000px;
	margin: 0 auto;	
    background: #fff;
}

img { display: block;}

/*-- HEADER BEGIN --*/

.header_top{
    height: 30px;
    background-color: #f1f1f1;
    position: relative;
}

.header_top p {   
    color: #999;    
    font-size: 12px;   
    line-height: 14px;    
    display: inline-block;
}

.Tel {
    position: absolute;
    top: -4px;
    left: 20px;
}

.rss {
    position: absolute;
    top: -4px;
    right: 40px;
}

.header_top > img {   
    position: absolute;
    top: 5px;
    right: 20px;
}

.header_logo {margin-left: 22px}

.header_logo > h1 {    
    font-family: Georgia;
    font-size: 32px;    
    line-height: 32px;
}

h1 > span {color: #ff4646;}

.header_logo > p {
    color: #535353;
    font-family: Georgia;
    font-size: 14px;    
    line-height: 12px;
}

.header_nav {    
    width: 960px;
    height: 50px;
    background-color: #ff4646;
    border-radius: 5px;
    margin-top: 32px;
    margin-left: 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
}

.header_nav-ol {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
    top: 20px;
    left: 20px;
   
}

.header_nav-ol li{
    display: inline; 
    padding:  16px 20px;
    border-left: 2px solid #fff;
}

.header_nav-ol li:first-child {
    border: none;
    padding-left: 0; 
}

form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    position: absolute;
    top: 13px;
    right: 8px;
}

input[type="text"]{
    height: 13px;
    width: 235px;
    background: #dcdcdc;
    color: #939393;     
    font-size: 12px;    
    line-height: 12px;
    border: none; 
    padding: 6px;
    margin: 0;    
}

input[type="submit"] {
    height: 25px;
    width: 65px;
    background: #000;
    border: none;
    color: #fff;    
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;    
    margin: 0;    
    cursor: pointer;
}

/*-- HEADER AND --*/

/*-- FEATURED BEGIN --*/


.featured {
    border: 1px solid #dedede;
    margin: 42px 20px 22px 20px;
    overflow: hidden;
}

.featured_slaid {float: left;}

h2 {
    color: #535353;    
    font-size: 38px;    
    line-height: 38px;
    display: inline-block;
    padding: 117px 15px 38px 87px;
    margin: 0;
}

.featured_content > p {
    color: #010101;    
    font-size: 16px;    
    line-height: 26px;
    display: inline-block;
    width: 375px;
    padding-left: 87px;
    margin: 0;
}

.ellipse {margin-left: 46%;}

/*-- FEATURED AND --*/

/*-- INTRO BEGIN --*/
.intro {
    margin: 20px;
}

h3 {
    color: #ff4646;    
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    border-bottom: 1px solid #dedede;
    margin-right: 30px;
    padding-bottom: 10px;
}

.intro {
    overflow: hidden;
}

.intro p {
    color: #535353;    
    font-size: 13px;    
    line-height: 21px;
    padding-left: 13px;
    padding-right: 34px;
}

.intro_left {
    float: left;
    width: 33%;
}

.intro_left > img {
    float: left;
    margin-top: 8px;
    margin-right: 13px;
}

/*-- INTRO AND --*/

/*-- FOOTER BEGIN --*/

.footer {
    overflow: hidden;
    margin-top: 80px;
    background-color: #f0f0f0;
}

.footer_bottom { 
    clear: both;
    height: 60px;
    background-color: #838383;
}

h4 {
    color: #545454;    
    font-size: 20px;    
    font-style: italic;
    line-height: 20px;
}

.footer_left {
    width: 39%;
    float: left;
    margin: 20px 81px 15px 20px;
    color: #8a8791;   
    font-size: 13px;    
    line-height: 21px;
}

.footer_center {
    width: 20%;
    float: left;
    margin: 20px 15px 15px 0;
    font-size: 13px;    
    line-height: 17px;
    color: #8a8791;   
}

.footer_right {
    width: 23%;
    float: left;
    margin: 20px; 
    font-size: 13px;    
    line-height: 21px;
    color: #8a8791;   
}

.footer_right p:last-child {text-align: right;}

.footer_bottom-left {
    float: left;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    margin-top: 14px;
    margin-left: 20px;
}

.footer_bottom-right {
    float: right;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    margin-top: 14px;
    margin-right: 20px;
}

.red {color: #ff4646;}



























