@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
	font-family: Areal, sans-serif;
	font-size: 18px;
	line-height: 24px;    
	background: url(../images/1920x1080.jpg);
    background-attachment: fixed; 
}

h1,
h2 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 5px auto; 
	padding: 10px 15px; 
	border:2px solid #333; 
	border-radius:15px; 
	box-shadow:0 2px 7px rgba(0, 0, 0, .6); 
	background: #ccc;
	text-align: center;	
    position: relative;
}

figure {
    background: #ddd; 
    display: inline-block; 
    width: 210px;   
    vertical-align: middle;    
    margin: 1.2em; 
    text-align: center; 
   	padding-top: 5px;
    padding-bottom: 0; 
    position: relative;
   }

figure:hover {
    background: #ddd; 
    display: inline-block; 
    width: 210px;   
    vertical-align: middle;    
    margin: 1.2em; 
    text-align: center; 
   	padding-top: 5px;
    padding-bottom: 0; 
    position: relative;
    box-shadow: 15px 15px 10px #888; 

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px); 
    -ms-transform: translateX(-15px); 
    -o-transform: translateX(-15px); 
    transform: translateX(-15px);    
    
    /*-- 
    -moz-transform: rotate(15deg); 
    -ms-transform: rotate(15deg); 
    -webkit-transform: rotate(15deg); 
    -o-transform: rotate(15deg); 
    transform: rotate(15deg);
    --*/
   }

img {
    display: block;
}

.figure_img {
    z-index: 99;
    margin-left: 5px;    
}

.img {
    position: absolute;
    left: 0;
    top: -15px;
    z-index: 100;
}

.wrapper_img {
    position: absolute;
    left: -35px;
    top: 90px;
    z-index: 100;
}

.wrapper_img2 {
    position: absolute;
    right: -35px;
    top: 90px;
    z-index: 100;
}

.wrapper_img3 {
    position: absolute;
    left: 85px;
    bottom: -156px;
    z-index: 100;
    opacity: 0.9;
}

.wrapper_img4 {
    position: absolute;
    right: 85px;
    bottom: -194px;
    z-index: 100;
}

.wrapper_img5 {
    position: absolute;
    right: 150px;
    bottom: -795px;
    z-index: 100;
}
  
.wrapper_img6 {
    position: fixed;
    right: 0;
    bottom: 50%;
    z-index: 100;   
}

.wrapper_img6:hover {
    position: fixed;
    right: 0;
    bottom: 50%;
    z-index: 100;
    cursor: pointer;
}


  
