@font-face {
    font-family: Ekaterina;     
    src: url(../fonts/Ekaterina_Velikaya_One/EkaterinaVelikayaOne.otf); 
    src: url(../fonts/Ekaterina_Velikaya_One/EkaterinaVelikayaOne.eot); 
    src: url(../fonts/Ekaterina_Velikaya_One/EkaterinaVelikayaOne.woff); 
    src: url(../fonts/Ekaterina_Velikaya_One/EkaterinaVelikayaOne.ttf);
   }

h1 {
    font-family: Ekaterina, 'Comic Sans MS', cursive;
   }

.wrapper {
	width: 1024px;
	margin: 20px auto; 
	padding: 20px 25px;	
	box-shadow: 15px 15px 10px #888; 
	background-image: url(../images/fon-1.jpg);
    background-size: cover;
    
}

.border {
    position: relative;
    background: #ddd;
    border: 10px dotted ;
    background-clip: border-box;
    height: 589px;
    padding: 5px;
}

.img {     
    z-index: 99;
    position: absolute;
}

img {
    display: block;
    width: 100%;
    right: 100%;
}

.wrait {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);    
    padding: 25px;
    padding-left: 0;
    z-index: 100;
    left: 10px;
    bottom: 10px;
}

.marca {
    position: absolute;     
    z-index: 100;
    right: 0;
    top: 0;
}

.marca2 {
    position: absolute;     
    z-index: 100;
    left: 35%;
    top: -5px;
}

.marca3 {
    position: absolute;     
    z-index: 100;
    right: 25px;
    bottom: 170px;
}

.marca4 {
    position: absolute;     
    z-index: 100;
    left: -35px;
    top: -30px;
}

.marca5 {
    position: absolute;     
    z-index: 100;
    right: 485px;
    bottom: 160px;
    opacity: 0.9;
}